<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ryan Burnett | Resume</title>
    <link rel="stylesheet" href="app/bower_components/foundation/css/foundation.css" />
    <script src="app/bower_components/modernizr/modernizr.js"></script>
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/AppCtrl.js"></script>
  </head>
<body ng-app="app">
    <div ng-controller="AppCtrl as ctrl">
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h1>Ryan Burnett</h1>
                </div>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="large-9 push-3 columns">
                <h2>Summary</h2>
                <p><a href="http://ryanburnett.com/2008/06/platform-magazine-wins-hermes-creative-award/">Award-winning</a> front-end web developer with demonstrated results in mobile and responsive design:</p>
                <ul>
                    <li>Created the AngularJS UI for <a href="http://www.fusionetics.com">Fusionetics</a> used by NFL, NBA, MLB and NCAA teams with over 5,000 total users</li>
                    <li>Built Stanford’s first mobile site, <a href="http://m.stanford.edu">Stanford Mobile</a> - <a href="http://jquerymobile.com/resources/">featured</a> as the highest-rated site on jQuery Mobile</li>
                    <li>Developed Platform Magazine, <a href="http://ryanburnett.com/2008/06/platform-magazine-wins-hermes-creative-award/">winner</a> of the Gold International Hermes Creative Award (website overall)</li>
                </ul>
                <h2>Technical Skills</h2>
                <ul>
                    <li><strong>Languages</strong>: HTML5, CSS3, Sass, JavaScript, JSON</li>
                    <li><strong>Libraries</strong>: AngularJS, jQuery, jQuery Mobile, Bootstrap 3, Foundation 5, Node, Grunt, Bower, Yeoman</li>
                    <li><strong>Software</strong>: WordPress, Drupal, Git, JIRA, Adobe Photoshop, WebStorm, TextMate, Sublime Text, Brackets</li>
                    <li><strong>Approaches</strong>: Responsive Web Design, RESTful Web Services, SEO, Information Architecture, UX & Accessibility</li>
                </ul>
                <h2>Experience</h2>
                <div ng-repeat="job in ctrl.jobs">
                    <h3>{{job.company}}</h3>
                    <p><strong>{{job.title}}, {{job.start}}-{{job.end}}</strong></p>
                    <ul>
                        <li ng-repeat="description in job.descriptions">{{description}}</li>
                        <li><strong>Technologies:</strong> <span ng-repeat="technology in job.technologies">{{technology}}{{{true: '', false: ', '}[$last]}}<span></li>
                    </ul>
                </div>
                <h2>Education</h2>
                <h3>The University of Alabama</h3>
                <p><strong>August 2004-August 2005</strong></p>
                <p>MA in Advertising and Public Relations</p>
                <h3>The University of North Carolina at Greensboro</h3>
                <p><strong>August 1999-December 2002</strong></p>
                <p>BFA in Education</p>
            </div><!-- /.large-9 -->
            <div class="large-3 pull-9 columns">
                <div class="panel">
                    <a href="#">
                        <img src="http://ryanburnett.com/wp-content/uploads/2014/09/headshot-200x200.jpg" alt="Headshot"/>
                    </a>
                    <div class="section-container vertical-nav" data-section="" data-options="deep_linking: false; one_up: true">
                        <p>I'm an <a href="http://ryanburnett.com/2008/06/platform-magazine-wins-hermes-creative-award/">award-winning</a> web developer with nine years of front end experience.</p>
                    </div>
                </div>
            </div><!-- /.large-9 -->
            <footer class="row">
                <div class="large-12 columns">
                    <hr/>
                    <div class="row">
                        <div class="large-5 columns">
                            <ul class="inline-list right">
                                <li>Built with:</li>
                                <li><a href="https://angularjs.org/">AngularJS</a></li>
                                <li><a href="http://foundation.zurb.com/">Foundation</a></li>
                                <li><a href="http://bower.io/">Bower</a></li>
                            </ul>
                        </div>
                        <div class="large-2 columns">
                            <p class="text-center">ryanjburnett at gmail dot com</p>
                        </div>
                        <div class="large-5 columns">
                            <ul class="inline-list right">
                                <li><a href="http://ryanburnett.com">Portfolio</a></li>
                                <li><a href="https://github.com/ryanburnett">GitHub</a></li>
                                <li><a href="https://twitter.com/ryanburnett">Twitter</a></li>
                                <li><a href="http://facebook.com/ryanburnett">Facebook</a></li>
                                <li><a href="https://linkedin.com/in/ryanburnett">LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div><!-- /.row -->
    </div><!-- /ng-controller -->
<script>
    document.write('<script src=js/vendor/' +
            ('__proto__' in {} ? 'zepto' : 'jquery') +
            '.js><\/script>')
</script>
<script src="app/bower_components/jquery/dist/jquery.min.js"></script>
<script src="app/bower_components/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>